<div class="page-header remove-spaces">
    <h1>About</h1>
</div>
<div class="jumbotron">
    <h1>Zalando social shovel</h1>
    <p>Social networks analyzing tool</p>
</div>
<h2>Features and goals</h2>
<ul class="list-group">
    <li class="list-group-item">Monitoring social activity</li>
    <li class="list-group-item">Collect and analyze data</li>
    <li class="list-group-item">Provide client’s satisfaction and opinion.</li>
    <li class="list-group-item">Find and distinguish social interests and trends</li>
    <li class="list-group-item">History and statistics.</li>
</ul>
<h2>Back-end technologies stack</h2>
<div class="row">
    <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
            <img src="images/java.png" height="100" alt="...">
        </a>
        <a href="#" class="thumbnail">
            <img src="images/activemq-logo.png" height="100" alt="...">
        </a>

    </div>
    <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
            <img src="images/Spring_Logo.png" height="100" alt="...">
        </a>
        <a href="#" class="thumbnail">
            <img src="images/twitter4j-logo.png" height="100" alt="...">
        </a>
    </div>
    <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
            <img src="images/MongoDB_Logo_Full.png" height="100" alt="...">
        </a>
    </div>
    <div class="col-xs-6 col-md-3">

    </div>
    <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
            <img src="images/python-logo-master-v3-TM.png" alt="..."  height="100" >
        </a>
        <a href="#" class="thumbnail">
            <img src="images/sklearn-logo.png" height="100" alt="...">
        </a>
    </div>
    <div class="col-xs-6 col-md-3">

    </div>
</div>
<h2>Front-end technologies stack</h2>
<div class="row">
    <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
            <img src="images/Masterclass-in-HTML5-and--006.jpg" height="100" alt="...">
        </a>
        <a href="#" class="thumbnail">
            <img src="images/bootstrap.jpeg" alt="..."  height="100" >
        </a>
        <a href="#" class="thumbnail">
            <img src="images/JQuery_logo.svg.png" alt="..."  height="100" >
        </a>
    </div>
    <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
            <img src="images/js.jpeg" alt="..."  height="100" >
        </a>
        <a href="#" class="thumbnail">
            <img src="images/AngularJS-large.png" alt="..."  height="100" >
        </a>
    </div>
    <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
            <img src="images/chartjs-charting-library-with-html5-canvas.jpg" alt="..."  height="100" >
        </a>
        <a href="#" class="thumbnail">
            <img src="images/yeoman-logo.png" alt="..."  height="100" >
        </a>
    </div>
    <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
            <img src="images/grunt.jpeg" alt="..."  height="100" >
        </a>
        <a href="#" class="thumbnail">
            <img src="images/bower.png" alt="..."  height="100" >
        </a>
    </div>

</div>