<div class="page-header remove-spaces">
        <h1>Dashboard</h1>
</div>
<div class="panel panel-primary">
        <!-- Default panel contents -->
        <div class="panel-heading">Latest messages with Zalando</div>

        <table class="table table-striped">
                <thead>
                <tr>
                        <th>Name</th>
                        <th class="messageField">Message</th>
                        <th>Provider</th>
                        <th>User opinion</th>
                        <th>Language</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="message in socialMediaMessages |  filter:'Zalando'">
                        <td><img  ng-if="message.userInfo.imageUrl" ng-src="{{message.userInfo.imageUrl}}">{{message.userInfo.name}}</td>
                        <td>{{message.content}}</td>
                        <td class="provider"><i class="fa fa-{{message.provider | lowercase}}"></i></td>
                        <td>{{message.userOpinion}}</td>
                        <td>{{message.language}}</td>
                </tr>
                </tbody>
        </table>
</div>
<div class="row">
        <div class="col-md-6">
                <div class="panel panel-primary">
                        <div class="panel-heading">General user satisfaction</div>
                        <div class="panel-body">
                                <div><span class="label label-info label-space" ng-style="{'background-color':colors[$index]}" ng-repeat="label in labels">{{label}}</span></div>
                                <canvas id="pie" class="chart chart-pie" data="data"
                                        labels="labels"></canvas>
                        </div>
                </div>
                      </div>
        <div class="col-md-6">
                        <div class="panel panel-primary">
                                <div class="panel-heading">Countries positive satisfaction</div>
                                <div class="panel-body">
                                       <div><span class="label label-info  label-space" ng-style="{'background-color':colors[$index]}" ng-repeat="label in countryLabels">{{label}}</span></div>
                                        <canvas id="pie" class="chart chart-pie" data="countryData"
                                                labels="countryLabels"></canvas>
                                </div>
                        </div>
                </div>


</div>
